# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

**/Debug/
**/Release/
**/.metadata/
**/*.o
**/*.d
**/*.elf
**/*.map
**/*.list
**/*.hex
**/*.bin
testing/stm32/can-api/.settings/language.settings.xml
testing/stm32/can-api/.settings/language.settings.xml
testing/stm32/imu-uart/.settings/language.settings.xml
testing/stm32/motor-api-tests/.settings/language.settings.xml
testing/stm32/nucleo-pi-can/.settings/language.settings.xml
testing/stm32/sensor-testing/.settings/language.settings.xml
testing/stm32/uart-serial-com/.settings/language.settings.xml
src/stm32/joint-controller/.settings/language.settings.xml
.vscode/settings.json
src/stm32/joint-controller/joint-controller Release.launch
src/stm32/joint-controller/.settings/com.st.stm32cube.ide.mcu.sfr.prefs
src/stm32/joint-controller/.settings/org.eclipse.cdt.codan.core.prefs
